body {
    width: 100%;
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;
}
#banner {
    background: purple;
    height: 100px;
    background: url(afbeeldingen/Banner3.jpg) no-repeat;
    padding: 40px 0px 0px 50px;
}
nav {
    display: block;
    background: #BBDEFB;
    padding: 1%;
}
nav a {
    display: inline;
    width: 20%;
    text-decoration: none;
    color: black;
    padding: 0.5%;
    margin: 5%;
}
nav a:hover {
    background: black;
    color: white;
}
.bordermenu{
    border: 2px solid #0D47A1;
    border-radius: 0px 0px 0px 0px;
}
section {
    width:90%;
    margin-left: 10%;
    margin-top: 2%;
}
.artikel {
    margin-bottom: 1%;
    width: 45%;
    display: inline-block;
    padding: 1%;
    border: 2px solid purple;
    border-radius: 10px 10px 10px 10px;
}
.foto1 {
    width: 43%;
    float: right;
    padding-right: 5%;
}
video {
    width: 45%;
    margin-left: 10%;
    margin-bottom: 5%;
    margin-top: 3%;
}
.foto {
    width: 45%;
    margin-left: 10%;
    background-color: red;
}   
footer {
    background-color: #1976D2;
    padding: 1%;
}
footer a {
    text-decoration: none;
    color: white;
    padding: 2px;
}
.socialmedia {
    width: 9%;
    border-right: 2px solid white;
}
.sitemap{
    float: right; 
    margin-right: 75%;
    margin-top: -3%;
}
.formulier {
    background-color: white;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}
form{
    background-color: #BBDEFB;
    margin: 0px;
    margin-bottom: 5%;
}
form input{
    width: 80%;
    font-size: 22px;
    margin-left: 10%;
    margin-right: 10%;
}
form p {
    margin-left: 10%;
    font-size: 22px;
}